<!DOCTYPE html>
<html>
  <head>
    <title>Rubynoob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <%= render 'shared/navbar' %>
      <%= render partial: 'shared/flash_messages', flash: flash %>
      <%= yield %>
    </div>
  </body>
</html>
